.row
  #logo
    =image_tag("http://www.placekitten.com/150/150")
  %h1 Dashboard
.row
  %ul.nav.nav-tabs
    %li.active
      = link_to "Dash", '#'
    %li= link_to "Events", user_events_path(@user)
    %li= link_to "Recipients", user_recipients_path(@user)
  .span1
  .span8

.row
  .span2
  .span5
    %h3 Things you should know about.
  .span2

.row
  .span1
  .span6
    - @todo_items.each do |item|
      - if item.respond_to?(:name)
        = render :partial => "recipient_with_warnings", :locals => { :recipient => item }
      - else
        = render :partial => "dashboard_event", :locals => { :event => item }
  .span2

