.row
  #logo
    =image_tag("http://www.placekitten.com/150/150")
  %ul.breadcrumb.rec-crumbs
    %li.active Recipients 

.row
  %ul.nav.nav-tabs
    %li= link_to "Events", user_events_path(@user)
    %li.active
      = link_to "Recipients", '#'
  .span1
  .span4
    %h3 Select a recipient to edit
  .span3

.row
  .span1
  .span6
    - @recipients.each do |r|
      .recipient.well.well-large
        .rec-pic= image_tag(r.image)
        %h4
          = link_to r.name, edit_user_recipient_path(@user, r)
          %span.delete-rec.badge= link_to 'X', user_recipient_path(@user, r), :confirm => "Do you want to remove #{r.name}?", :method => :delete

  .span1    
    #new-import-recipients.pull-right
      .btn= link_to "New", new_user_recipient_path(@user)
