.row
  #logo.pull-left
    =image_tag("http://www.placekitten.com/150/150")
  %ul.breadcrumb.rec-crumbs
    %li
      = link_to "Dashboard", dashboard_index_path(@user)
      %span.divider /
    %li
      = link_to "Recipients", user_recipients_path(@user.id)
      %span.divider /
    %li.active New 
  %h3 Let's create a new gift recipient.

.row
  =form_for @recipient, :html => {:class => 'form-horizontal'}, :url => user_recipients_path(@user) do |rec|
    - if @recipient.errors.any?
      = bootstrap_flash

    #div.control-group
      = rec.label 'What do you want to call this person?'
      = rec.text_field :name

    #div.control-group
      = rec.label 'If you want to send birthday gifts, enter birth day:'
      = rec.date_select :birthday, {:start_year => Time.now.year - 90, :order => [:month, :day, :year]}, {:class => 'input-medium'}

    #div.control-group
      = rec.label 'In general, how much would you like spend on gifts for this person? (You can set event-specific limits on each event, if different)'

    #div.control-group
    / This is where spending limits go when you're done modeling them
    / twitter-bootstrap has a thing to put dollar sign on left side of field

    #div.control-group