%h4 Please confirm your email address.
= form_for @user, :url => confirm_email_send_email_to_address_path, :html => { :class => 'form-inline' } do |f|
  = f.text_field :email
  = f.submit "Confirm", :class => 'btn'

= javascript_include_tag "jquery"
= javascript_include_tag "jquery_ujs"
= javascript_include_tag "confirm_email"
