!!! 5
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "en" }
  <!--<![endif]-->
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags 
    = javascript_include_tag "modernizr"

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
          /   %span.icon-bar
          /   %span.icon-bar
          %a.brand(href="#") Giftola

    .container
      .row
        .span9
          = bootstrap_flash
          = yield

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = requirejs_include_tag "application" 
    = javascript_include_tag "confirm_email"

